@charset "UTF-8";

/*
Paleta de cores 
Verde: #49a09d
Lilás: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    /*animação*/
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login >div#imagem{
    display: block;
    background: url(../imagens/fundo-login.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: bottom;
}

section#login > div#form{
    display: block;
    padding: 10px;
    
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#form > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    
}
form > input[type=submit]:hover{
    background-color: #255553;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top:5px;
    padding-bottom: 5px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: #255553;
}

form > a.botao:hover{
    background-color: #61e7e3;
}

form > a.botao > i {
    font-size: 0.8em;

}